.projectsBg{
    background-color: #131416;
    padding: 120px 0;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-gap: 20px;
    align-items: center;

}

.projectsTitle{
    font-family: 'Nunito';
    font-size: 40px;
    margin-bottom: 20px;
    color: rgb(229,230,230);
}

@media screen and (max-width: 1680px){
    .projectsTitle{
        text-align: center;
    }

    .projects{
        justify-content: center;
    }
}


