.greetings{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgb(229,230,230);
    font-family: "Nunito", sans-serif;
    font-weight: 700;
}

.bgColor{
    position: relative;
    background-color: rgb(14,15,16);
}

.dark{
    background-color: rgb(14,15,16);
}

.light {
    background-color: white;
    color: black;
}

.title{
    font-size: 74px;
}

.changeText{
    color: #dc965a;
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
    border-right: 10px solid #dc965a;
    white-space: nowrap;
    margin: 0 auto;
    animation:
            typing 3.5s steps(40, end),
            blink-caret 1.5s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #dc965a }
}

.greetingBtn{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-top: 15px;
    padding: 15px 30px;
    font-size: 18px;
    letter-spacing: 1px;
    background: #dc965a;
    color: rgb(229,230,230);
    border: none;
    cursor: pointer;
    font-weight: 600;
    position: relative;
    transition: all 500ms ease;
}

.greetingBtn:hover{
    text-decoration: none;
    background: rgba(0,0,0,0);
    color: #dc965a;
    box-shadow: inset 0 0 0 3px #dc965a;
}
.greetingSocial{
    position: absolute;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 1365px){
    .title{
        font-size: 55px;
    }
}

@media screen and (max-width: 1112px){
    .title{
        font-size: 50px;
    }
    .greetingBtn{
        padding: 10px 20px;
    }
}

@media screen and (max-width: 1024px){
    .title{
        font-size: 50px;
    }

    .changeText{
        white-space: normal;
        animation:none;
        border-right: none;
    }
}

@media screen and (max-width: 768px){
    .title{
        font-size: 44px;
    }
    .greetingSocial{
        display: flex;
        justify-content: center;
        left: 0;
        padding-bottom: 55px;
    }
}

@media screen and (max-width: 568px){
    .title{
        font-size: 44px;
    }
}

@media screen and (max-width: 414px){
    .greetings{
        align-items: normal;
    }

    .title{
        font-size: 34px;
    }
}
