.img {
    width: 100px;
    height: 100px;
}

.skillCardItems {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    width: 200px;
    height: 200px;
    background-color: #131416;
    position: relative;
}
.skillCardItems:before,.skillCardItems:after{
    position: absolute;
    content: "";
    transition: all .4s;
}

.skillCardItems:before{
    border-bottom: 2px solid #dc965a;
    border-left: 2px solid #dc965a;
    width: 10%;
    height: 15%;
    left: -0px;
    bottom: -0px;
}

.skillCardItems:after{
    border-top: 2px solid #dc965a;
    border-right: 2px solid #dc965a;
    width: 10%;
    height: 15%;
    top: -0px;
    right: -0px;
}

.skillCardItems:hover:before{
    width: 99%;
    height: 99%;
}

.skillCardItems:hover:after{
    width: 99%;
    height: 99%;
}

.skillCardItemTitle {
    text-align: center;
}