.skills{
    padding: 100px 0;
    height: 100vh;
    /*display: flex;*/
    /*flex-direction: column;*/
    font-family: 'Nunito';
    /*justify-content: space-evenly;*/
    /*align-items: center;*/
}

.skillsBg{
    background-color: #1c1d24;
}

.skillsItemContainer{
    display: flex;

}

.cardStudyItem{
    width: 400px;
}

.skillsItem{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 690px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 30px;
}

.skillsTitleFlex{
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    margin-bottom: 50px;
    color: rgb(229,230,230);
}

.skillsTitle{
    font-size: 40px;
    margin-bottom: 15px;
    color: rgb(229,230,230);
}

.skillsSubTitle{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}