.skills{
    padding: 160px 0;
    font-family: 'Nunito', sans-serif;
}

.skillsBg{
    background-color: #1c1d24;
}

.skillsItemContainer{
    display: flex;
    justify-content: space-between;
}

.cardStudyItem{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 400px;
}

.skillsItem{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 30px;
}

.skillsTitle{
    font-size: 40px;
    margin-bottom: 50px;
    color: rgb(229,230,230);
}

.skillsTitleSkill{
    display: flex;
    justify-content: flex-end;
}

.skillsTitle{
    font-size: 40px;
    margin-bottom: 15px;
    color: rgb(229,230,230);
}

.skillsSubTitle{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

@media screen and (max-width: 1120px){
    .skillsItemContainer{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .skillsTitleSkill{
        justify-content: flex-start;
    }

    .skillsItem{
        justify-content: flex-start;
        margin-bottom: 100px;
    }
    .cardStudyItem{
        width: 100%;
        min-width: 100%;
    }
}

@media screen and (max-width: 667px){
    .skills {
        padding: 100px 0;
    }

    .skillsTitle{
        font-size: 30px;
    }
}

@media screen and (max-width: 667px){
    .skillsTitleSkill{
        justify-content: center;
    }
    .skillsItem{
        justify-content: center;
    }
}

