.bgColor{
   background-color: #131416;
}

.photo{
   /* width: 70%;*/
    /*width: 500px;*/
    height: 650px;
    box-shadow: 8px 8px 10px 2px rgba(220, 150, 90, 0.2);
}

.about{
    height: 100vh;
    color: rgb(229,230,230);
    display: flex;
    align-items: center;
    font-family: "Nunito", sans-serif;
}

.aboutTitle{
    font-size: 40px;
    margin-bottom: 15px;
}
.aboutSubTitle{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #dc965a;
}
.aboutDescription{
    color: #878e99;
    margin-bottom: 20px;
}

.aboutItems{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.aboutInfo{
    max-width: 600px;
    margin-left: 25px;
}

.aboutList{
    display: flex;
    justify-content: space-between;
}

.aboutMedia{
    display: flex;
    font-weight: 600;
    margin-bottom: 15px;

}

.aboutMedia p {
    padding-left: 15px;
    color: #878e99;
}

.aboutCV a{
    display: block;
    padding: 15px 30px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    background: #dc965a;
    color: rgb(229,230,230);
    border: none;
    cursor: pointer;
    font-weight: 600;
    position: relative;
    transition: all 500ms ease;
    margin-top: 30px;
}

.aboutCV a:hover{
    text-decoration: none;
    background: rgba(0,0,0,0);
    color: #dc965a;
    box-shadow: inset 0 0 0 3px #dc965a;
}

@media screen and (max-width: 1680px){
    .photo{
        height: 600px;
    }

    .aboutInfo{
        max-width: 570px;
    }
}

@media screen and (max-width: 1440px){
    .aboutInfo{
        max-width: 510px;
    }
}

@media screen and (max-width: 1366px){
    .photo{
        height: 500px;
    }

    .aboutList{
        flex-direction: column;
    }

    .aboutInfo{
        max-width: 430px;
    }
}

@media screen and (max-width: 1112px){
    .about{
        height: 100%;
    }

    .photo{
        height: 600px;
        margin-top: 100px;
        margin-bottom: 30px;
    }

    .aboutItems{
        flex-direction: column;
    }

    .aboutInfo{
        max-width: 570px;
        margin-left: 0;
    }
    .aboutList{
        flex-direction: row;
    }

    .aboutCV a {
        margin-bottom: 20px;
    }

    .aboutMedia{
        font-size: 15px;
    }
}

@media screen and (max-width: 736px){
    .photo{
        height: 500px;
    }

    .aboutInfo{
        margin-left: 0;
    }

    .aboutList{
        flex-direction: column;
    }

    .aboutCV a {
        width: 300px;
    }
}

@media screen and (max-width: 568px){
    .photo{
        height: 100%;
    }
    .aboutInfo{
        max-width: 430px;
    }

    .aboutCV a {
        width: 100%;
        font-size: 15px;
    }
}

@media screen and (max-width: 414px){

    .aboutTitle{
        font-size: 35px;
    }

    /*.photo{*/
    /*    height: 330px;*/
    /*}*/

    .aboutMedia{
        font-size: 15px;
    }

    .aboutCV a {
        width: 100%;
        padding: 12px 20px;
        font-size: 15px;
    }
}

@media screen and (max-width: 375px){

    .aboutMedia p{
        padding-left: 10px;
    }

    /*.photo{*/
    /*    height: 300px;*/
    /*}*/
}

@media screen and (max-width: 360px){

    .aboutMedia p{
        padding-left: 10px;
    }

    /*.photo{*/
    /*    height: 434px;*/
    /*}*/
}