.footerBg {
    background-color: #131416;
}

.footer {
    height: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerItem {
    display: flex;
    width: 255px;
    justify-content: space-around;
    cursor: pointer;
}

@media screen and (max-width: 667px) {
    .footerBg{
        padding: 10px 0;
    }

    .footer {
        flex-direction: column;
    }
}