/*
@font-face {
    font-family: "Nunito-Bold";
    font-style: normal;
    font-weight: 700;
    src: local('Nunito-Bold'), url("fonts/Nunito-Bold.ttf");
}
@font-face {
    font-family: "Nunito-Medium";
    font-style: normal;
    font-weight: 400;
    src: local('Nunito-Medium'), url("fonts/Nunito-Medium.ttf");
}
@font-face {
    font-family: "Nunito-Regular";
    font-style: normal;
    font-weight: 400;
    src: local('Nunito-Regular'), url("fonts/Nunito-Regular.ttf");
}
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

